@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fonts 
font-family: 'Inter', sans-serif; 400, 500, 700
font-family: 'Poppins', sans-serif; 300, 400, 500, 700
*/

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'Inter', sans-serif;
  }
}

@layer components {
  .tool-title {
    @apply text-purple-600 font-bold tracking-wide text-lg lg:text-xl mb-6;
  }

  .tool {
    @apply flex min-h-[8rem] flex-col shadow border-l-8 rounded-lg border-l-purple-800 p-3 bg-white hover:bg-purple-500 duration-150 hover:text-white transition-colors overflow-hidden;
  }

  .tool-text {
    @apply font-semibold text-lg tracking-wide text-gray-900 group-hover:text-white;
  }

  .tool-desc {
    @apply text-sm tracking-wide text-gray-600 group-hover:text-white;
  }
}
